#This is used to hide contents from test to PROD.

#Hide these files
test.env
.DS_Store

#Hide these folders
user_pictures/
logs/Automated_logs/7DaysTill/*
logs/Automated_logs/24HoursBefore/*
logs/Automated_logs/24HoursAfter/*

#Hide pycache
__pycache__/

#Show all files with this extension
!.keep
