<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style>
    #footer {
      padding: 10px;
      font-size:13px;
      color: #FFFFFF;
      text-align: center;
    }

    .footerlink {
      text-decoration: none;
      color: #FFFFFF;
      margin-right:10px;
    }
    </style>
  </head>
  <body>
    <!--- Footer --->
    <div id='footer'>
      <a href='/terms' class='footerlink'>Terms & Conditions</a>
      <a href="/privacy" class='footerlink'>Privacy</a>
      <a href='/contact' class='footerlink'>Contact Us</a>
      <span>&copy; 2019 Bluff Tour</span>
    </div>
    <!-- End of Footer --->

  </body>
</html>
